<app-header></app-header>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- page-header -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-caption">
                    <!-- <h1 class="page-title"><b>Welcome To Adv-Insurance</b></h1> -->
                    <h3><br><br> <br>Welcome to ADV-Insurance</h3><br>
                    <h1 class="display-1 text-white mb-md-3"><b style="color: rgb(32, 32, 107);">Best Health Insuarance
                            policy</b></h1>
                    <!-- <img src="assets\pngegg (2).png" class="img"> -->

                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header-->
    <!-- news -->
    <div class="card-section">
        <div class="container">
            <div class="card-block bg-white mb30">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <!-- section-title -->
                        <div class="section-title mb-0">
                            <h1>Be Inspierd But Also Be <strong style="color: rgb(24, 22, 124);">Insured</strong></h1>
                            <p>Adv-Insurance "safety" took care of your peace of mind. We offer you full insurance
                                coverage for you,your loved ones!! </p>
                        </div>
                        <!-- /.section-title -->
                    </div>
                </div>
            </div>

        </div>
    </div>






    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <!-- Team -->
    <section id="team" class="pb-5">
        <div class="container">
            <!-- <h4 class="section-title h1">Health Insurance</h4> <br> -->
            <div class="row">
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="/../assets/ins.svg" alt="card image"></p>
                                        <h4 class="card-title">What Is Health Insurance?</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <p class="card-text"><br><br><br>A medical insurance policy, also called as
                                            health insurance, covers
                                            medical expenses for illnesses or injuries. It reimburses your bills or pays
                                            the medical
                                            care provider directly on your behalf. A comprehensive medical insurance
                                            covers the cost of
                                            hospitalisation, daycare procedures, medical care at home,
                                            ambulance charges, amongst others.A health insurance plan helps you stay
                                            covered against
                                            various diseases.</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank">
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="/../assets/hh.svg" alt="card image"></p>
                                        <h4 class="card-title">How Health Insurance Works?</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">

                                        <p class="card-text"><br><br><br><br> Health insurance is designed to provide
                                            financial assistance to the policyholder in case he/she incurs a covered
                                            medical expense. In return, the policyholder is required to pay a premium
                                            regularly. The medical expenses are covered up to the sum insured limit,
                                            which is the maximum claim amount provided by the insurance company.</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank">
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="assets/h3.svg" alt="card image"></p>
                                        <h4 class="card-title">Why Do I Need Health insurance?</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">

                                        <p class="card-text"><br><br>With rising healthcare expenses, access to
                                            high-quality medical
                                            treatment can drain your finances. Thus, to protect yourself and your loved
                                            ones financially
                                            against any critical illness every citizen must get insured under a reliable
                                            health insurance plan.
                                            Main reasons why you should get coverage as early as possible:<br>
                                            To protect your savings<br>
                                            To deal with medical inflation<br>
                                            Life style changes<br>
                                            To secure the health of your family members</p>

                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank">
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="about" id="About">

        <div class="row">

            <div class="content">
                <h1>ABOUT US</h1>
                <p>ADV Insurance is one of the leading private sector general insurance company in India
                    offering medical insurance coverage. Policies can be purchased and renewed online as
                    well. ADV Insurance polices provides you with extensive coverage during a medical emergency.
                    The medical policy gives you access to a wide range of cashless hospitals nationwide.</p>
                <h2><b style="color: rgb(32, 32, 107);">We offer reliable health insurance plans that take complete care
                        of
                        your medical expenses.</b></h2>

            </div>

            <div class="img">
                <img src="/../assets/about.svg" alt="">
            </div>


        </div>

    </section>




    <div class="feat bg-gray pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="section-head col-sm-12">
                    <h4><span>Why Our Customer Love</span> Us?</h4>
                    <p>And, we think you will too.</p>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="item"> <span class="icon feature_box_col_one"><i><img src="assets/t.png"></i></span>
                        <h6>Affordable options</h6>
                        <p>We make insurance more affordable through monthly payment options & discounts provided by our
                            partners</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="item"> <span class="icon feature_box_col_two"><i><img src="assets/t1.png"></i></span>
                        <h6>Platinum insurance partner</h6>
                        <p> Platinum insurance partner, which means we prioritize your policy and claims to ensure
                            treating
                            them on priority</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="item"> <span class="icon feature_box_col_three"><i
                                class="fa fa-hourglass-half"></i></span>
                        <h6>24 x 7 Customer Support</h6>
                        <p>If our customer has any problem and any query we are always happy to help them 24x 7. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

      <footer
        style=" bottom: 0; left: 0; width: 100%;  background: linear-gradient(to bottom, #0077b6, #004368); color: #f5f5f5; padding: 5px;">

                <div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">

                      <p style="margin: 0;">&copy; 2023 advinsurance.com. All rights reserved.</p>

                     

                     

                    </div>

              </footer>
</div>