<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap">
	<link rel="stylesheet" href="login.component.css">


	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Login</title>
</head>
<body>
	<!-- <div *ngIf="errorMessage" class="alert alert-danger"><span [innerHTML]="errorMessage"></span></div> -->
	<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
		<div class="wrapper">
			
			<div class="container main">
				
			
				<div class="row">
					<h2>ADV-Insurance</h2>
					<div class="col-md-6 side-image">
						
						</div>
					
					<div class="col-md-6 right">
					
						<div class="input-box">
							
							
							<div class="container py-4 shadow" style="width:350px;">
								
							 
							  
							<form [formGroup]="loginForm" (ngSubmit)="onSubmit()"></form>
							<!-- <h2>ADV Insurance</h2> -->
								<!-- <div class="txt_field">
									<input type="text" formControlName="email">
									<label>Email</label>
								</div> -->
								<div class="md-form input-with-pre-icon">						
									<input type="text" id="prefixInside2" class="form-control form-control-lg" placeholder="Email" formControlName="email">
								  </div>
								

  
  
								<div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
									<div *ngIf="loginForm.controls['email'].errors?.['required']"
										class="alert alert-danger">Email is required.</div>
									<div *ngIf="loginForm.get('email')?.errors?.['pattern']" class="alert alert-danger">
										Invalid email</div>
									<div *ngIf="loginForm.controls['email'].errors?.['email']"
										class="alert alert-danger">Email is invalid.</div>
									<div *ngIf="loginForm.controls['email'].errors?.['invalid-email']"
										class="alert alert-danger">Email is invalid.</div>
								</div>



								<!-- <div class="txt_field">
									<input type="password" formControlName="password" maxlength="20">
									<label>Password</label>
								</div> --><br>
								<div class="md-form input-with-pre-icon">
                                          

									<input type="password" id="password" class="form-control form-control-lg form-control-rounded" placeholder="Password" formControlName="password">
								  </div>
								  

								<div
									*ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
									<div *ngIf="loginForm.controls['password'].errors?.['required']"
										class="alert alert-danger">Password is required.</div>
									<div *ngIf="loginForm.controls['password'].errors?.['minlength']" c
										class="alert alert-danger">Password must be at least 6 characters long.</div>
									<div *ngIf="loginForm.controls['password'].errors?.['invalid-password']"
										class="error" class="alert alert-danger">Password is invalid.</div>
								</div>

								<div *ngIf="errorMessage" class="alert alert-danger"><span
									[innerHTML]="errorMessage"></span></div>
                                  <br>
								<!-- <button class="btn btn-primary" type="submit"
									[disabled]="loginForm.invalid">Login</button> -->
									
									<button class="btn btn-primary  rounded-pill shadow" type="submit"
										[disabled]="loginForm.invalid">
								<i class="bi bi-box-arrow-in-right me-2"></i>Login
								</button>

								<div *ngIf="showAlert" class="alert alert-success">Logging in...</div>
							</div>

								<div class="signup_link">
									Not a member? <a routerLink="/register">Register Now</a><br>
								
										<!-- <a routerLink="/Adjudicator" >Adjudicator Login</a> -->
									  
								</div>
								
					</div>
				</div>
			</div>
		</div>
		</div>
	</form>
	
	<!--  -->
</body>
</html>