<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"> -->
  <title>Registration Form</title>
  <style>
    body {
      height: 50%;
     
    }
    .card-registration {
      border-radius: 25px;
   
    }
    /* .gradient-custom-2 {
      background: linear-gradient(45deg, #175d8f, #F5F5F5);    } */
  </style>
</head>
<body>
  <div class="reg">
    <br><br>
  <section class="h-100 h-custom gradient-custom-2">
    <div class="container py-5 h-50">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-8">
          <div class="card card-registration shadow-2-strong">
          
            <div class="card-body p-8 p-md-5">  
              <!-- <h2 class="fw-normal mb-2" style="color: #4d4d51; text-align: center;"><B>MEMBER REGISTRATION</B></h2> -->
              <form [formGroup]="registrationForm">
                <div class="row">

                
                   
                   

                  <div class="col-md-6 mb-4 pb-2">
                    <div class="form-outline">
                      <label class="form-label" for="form3Examplev2">First Name</label>
                      <input type="text" id="form3Examplev2" class="form-control form-control-lg" [required]="true"  formControlName="firstName"/>
                      <div *ngIf="registrationForm.get('firstName')?.invalid && (registrationForm.get('firstName')?.dirty || registrationForm.get('firstName')?.touched)">
                        <div *ngIf="registrationForm.get('firstName')?.errors?.['required']"  class="alert alert-danger">First Name is required</div>
                      </div>

                    </div>
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example">Last Name</label>
                      <input type="text" id="form3Example" class="form-control form-control-lg" [required]="true"  formControlName="lastName"/>
                      <div *ngIf="registrationForm.get('lastName')?.invalid && (registrationForm.get('lastName')?.dirty || registrationForm.get('lastName')?.touched)">
                        <div *ngIf="registrationForm.get('lastName')?.errors?.['required']"  class="alert alert-danger">Last Name is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
                    <div class="form-outline">
                      <label class="form-label" for="form3Examplev4">Date Of Birth</label>
                      <input type="date" [min]="minDate" [max]="maxDate" id="form3Examplev4" class="form-control form-control-lg"  required formControlName="dateOfBirth"  />
                     
                    </div>
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
                    <div class="form-outline">
                      <label for="phone">Phone Number</label>
                      <input type="number" id="phone" name="phone" placeholder="" class="form-control form-control-lg" required
                                         formControlName="phoneNumber">
                      <div *ngIf="registrationForm.get('phoneNumber')?.invalid && (registrationForm.get('phoneNumber')?.dirty || registrationForm.get('phoneNumber')?.touched)" class="alert alert-danger">
                     <div *ngIf="registrationForm.get('phoneNumber')?.errors?.['required']">Phone number is required</div>
                      <div *ngIf="registrationForm.get('phoneNumber')?.errors?.['pattern']">Phone number must have 10 digits</div>
                      </div>
                    </div>
                  </div>
                 
<div class="col-md-6 mb-4 pb-2">
  <div class="form-outline">
    <label class="form-label" for="form3Examplev9">Address Line1</label>
    <input type="text" id="form3Examplev9" class="form-control form-control-lg" required formControlName="address"/>
    <div *ngIf="registrationForm.get('addressLine')?.invalid && (registrationForm.get('addressLine')?.dirty || registrationForm.get('addressLine')?.touched)">
      <div *ngIf="registrationForm.get('addressLine')?.errors?.['required']"  class="alert alert-danger">AddressLine is required</div>
    </div>
  </div>
</div>

<div class="col-md-6 mb-4 pb-2">
  <div class="form-outline">
<label for="gid">Gender
</label>
  
  <select class="form-control form-control-lg" formControlName="gender" >
   
  <option value="male">Male</option>
  <option value="female">Female</option>
  <option value="other">Other</option>
 
</select>
<div *ngIf="registrationForm.get('gender')?.invalid && (registrationForm.get('gender')?.dirty || registrationForm.get('gender')?.touched)">
  <div *ngIf="registrationForm.get('gender')?.errors?.['required']"  class="alert alert-danger">Select your gender</div>
</div>
  </div>
  </div>

  <div class="col-md-6 mb-4 pb-2">
    <div class="form-outline">
      <label>State</label>
      <select formControlName="state" (change)="onStateChange()" class="form-control form-control-lg" required>
        <option value="">--Select State--</option>
        <option *ngFor="let state of states" [value]="state.id">{{ state.name }}</option>
      </select>
      <div *ngIf="registrationForm.get('state')?.invalid && (registrationForm.get('state')?.dirty || registrationForm.get('state')?.touched)">
        <div *ngIf="registrationForm.get('state')?.errors?.['required']"  class="alert alert-danger">Select your state</div>
      </div>

    </div>
  </div> <!-- added closing div tag here -->
  
  <div class="col-md-6 mb-4 pb-2">
    
      <label>City</label>
      <div class="form-outline">
      <select formControlName="city" class="form-control form-control-lg" required>
        <option value="">--Select City--</option>
        <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
      </select>
      <div *ngIf="registrationForm.get('city')?.invalid && (registrationForm.get('city')?.dirty || registrationForm.get('city')?.touched)">
        <div *ngIf="registrationForm.get('city')?.errors?.['required']"  class="alert alert-danger">Select your city</div>
      </div>
    </div>
  </div>
<!-- </form> -->





 
<!-- <div class="col-md-6 mb-4 pb-2">
  <div class="form-outline">
<label for="gid">Governement ID
</label> -->
  
  <!-- <select class="form-control form-control-lg" formControlName="governmentId" >
   
  <option value="Aadhar Card">Aadhaar Card</option>
  <option value="Pan Card">Pan Card</option>
  <option value="Election ID">Election ID</option>
 
</select> -->
<!-- <div *ngIf="registrationForm.get('governmentId')?.invalid && (registrationForm.get('governmentId')?.dirty || registrationForm.get('governmentId')?.touched)">
  <div *ngIf="registrationForm.get('governmentId')?.errors?.['required']"  class="alert alert-danger">Select your government Id</div>
</div> -->
  <!-- </div>
  </div> -->
   
<div class="col-md-6 mb-4 pb-2">
  <div class="form-outline">
    <label for="idNumber">Govt ID (Aadhaar)</label>
    <input type="text" id="idNumber" class="form-control form-control-lg" formControlName="idNumber" placeholder="Enter your Aadhaar card number" />
    <div *ngIf="registrationForm.get('idNumber')?.invalid && (registrationForm.get('idNumber')?.dirty || registrationForm.get('idNumber')?.touched)" class="alert alert-danger">
      <div *ngIf="registrationForm.get('idNumber')?.errors?.['required']">ID number is required</div>
       <div *ngIf="registrationForm.get('idNumber')?.errors?.['pattern']">Invalid Aadhaar number</div>


    <!-- <div *ngIf="registrationForm.get('idNumber')?.invalid && (registrationForm.get('idNumber')?.dirty || registrationForm.get('idNumber')?.touched)">
      <div *ngIf="registrationForm.get('idNumber')?.errors?.['required']">Type your ID Number</div>
      <div *ngIf="registrationForm.get('idNumber')?.errors?.['pattern']">Invalid Aadhaar Card Number</div> -->

    </div>
</div>
</div>
  

<div class="col-md-6 mb-4 pb-2">
  <div class="form-outline">
    <label class="form-label" for="form3Examplev5">Email ID</label>
    <input type="email" id="email" class="form-control form-control-lg" required formControlName="email"/>
  </div>
  
  <div *ngIf="registrationForm.get('email')?.invalid && (registrationForm.get('email')?.dirty || registrationForm.get('email')?.touched)">
    <div *ngIf="registrationForm.get('email')?.errors?.['required']" class="alert alert-danger" >Email is required</div>
    <div *ngIf="registrationForm.get('email')?.errors?.['email']" class="alert alert-danger"  >Invalid email format</div>
    <div *ngIf="registrationForm.get('email')?.errors?.['pattern']" class="alert alert-danger" >Invalid email format</div>
  </div>

</div>








                   
                          <div class="container shadow p-3 mb-5 bg-body rounded custom-container">
                            <div class="row">
                              <div class="col-md-6 mb-4 pb-2">
                                <div class="form-outline">
                                  <label class="form-label" for="form3Example7"><strong>Medical History</strong></label>
                                  <div style="color: black; display: flex; flex-wrap: wrap;">
                                    <!-- <div style="display: flex; align-items: center;">
                                      <input type="checkbox" id="disease0" name="disease"   value="none" style="margin-right: 10px;" />
                                      <label for="disease0" style="margin-right: 10px;  margin-top: auto;"> None</label>
                                    </div> -->
                                    <!-- <div style="display: flex; align-items: center;">
                                      <input type="checkbox" id="disease1" name="disease" value="diabetes"  style="margin-right: 10px;" />
                                      <label for="disease1" style="margin-right: 10px;  margin-top: auto;"> Diabetes</label>
                                    </div>
                                    <div style="display: flex; align-items: center;">
                                      <input type="checkbox" id="disease2" name="disease" value="BloodPressure"  style="margin-right: 10px;" />
                                      <label for="disease2" style="margin-right: 10px;  margin-top: auto;">Blood Pressure</label>
                                    </div>-->
                                    <div *ngFor="let disease of diseases">
                                      <div style=" align-items: center;">
                                        <input type="checkbox" value={{disease.name}} name="disease" style="margin-right: 10px;" >
                                        <label for="disease2" style="margin-right: 10px;  margin-top: auto;">{{ disease.name }}</label>
                                 
                                      
                                      </div>
                                    </div>
                                    <div> 
                                      <input type="checkbox" id="other"  value="other" style="margin-right: 10px;" (click)="checked()">
                                      <label for="disease3" style="margin-right: 10px; margin-top: auto;">Other</label>
                                    </div>
                                    <input type="text" class="form-control"  id="otherText" [hidden]="!showOther" #otherText placeholder="Enter other disease you have">
                                  </div>
                                  

                                </div>
                              </div>
                              <div class="col-md-6 mb-4 pb-2" style="margin-top: auto;">
                                
                                  <label class="form-label me-3">Smoking : &nbsp; &nbsp;</label>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="yes" value="true" formControlName="smoking">
                                    <label class="form-check-label">Yes&nbsp; &nbsp;</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="no" value="false" formControlName="smoking">
                                    <label class="form-check-label">No</label>
                                    
                                  
                                </div>
                              </div>
                            
                            </div>
                          </div>
                          <!-- end -->
                        
                           
                          


    



<div class="col-md-6 mb-4 pb-2">
<div class="form-outline">
<label class="form-label" for="form3Examplev6">Password</label>
<input type="password" id="form3Examplev6" class="form-control form-control-lg" required formControlName="password"/>
<div *ngIf="registrationForm.get('password')?.invalid && (registrationForm.get('password')?.dirty || registrationForm.get('password')?.touched)">
  <div *ngIf="registrationForm.get('password')?.errors?.['required']"  class="alert alert-danger">Type your password</div>
  <div *ngIf="registrationForm.get('password')?.errors?.['invalidPassword']" class="alert alert-danger">Password must be at least 6 characters long</div>
</div>
</div>
</div>
<div class="col-md-6 mb-4 pb-2">
<div class="form-outline">
<label class="form-label" for="form3Examplev7">Confirm Password</label>
<input type="password" id="form3Examplev7" class="form-control form-control-lg" required formControlName="confirmPassword"/>
</div>
<div class="alert alert-danger" *ngIf="confirmPasswordControl?.hasError('passwordMismatch')">
  Passwords do not match
</div>
<div *ngIf="registrationForm.get('confirmPassword')?.invalid && (registrationForm.get('confirmPassword')?.dirty || registrationForm.get('confirmPassword')?.touched)">
  <div *ngIf="registrationForm.get('confirmPassword')?.errors?.['required']"  class="alert alert-danger">please confirm your password</div>
</div>
</div>



<div class="col-md-5 mb-5 pb-2 mx-auto">
 

<button type="submit" class="btn btn-primary  btn-block"   (click)="onSubmit()">REGISTER</button>

</div>
</div>
        <div  *ngIf="showAlert" class="alert alert-success" >
          Registration Success!! 
        </div>
        <!-- <div  *ngIf="errorAlert" class="alert alert-danger" >
          {{errorMessage}}
           &nbsp;&nbsp;Error - <h6>{{Aerror}}</h6>
                </div> -->
                <div *ngIf="errorMessage" class="alert alert-danger"><span [innerHTML]="errorMessage"></span></div>

</form>
   


</div>

<!-- <div class="alert alert-danger" role="alert" *ngIf="message">
  <strong>Oops!</strong> {{message}}  </div> -->
  




  

</div>
</div>
</div>



 

</div>

  </section>
  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <br><br><br><br><br><br>
  </div>
</body>


</html>

